<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
   
</head>
<body>
    <div class="container-fluid ">
        <h1 class="text-center text-muted my-5">My Posts</h1>
        <!-- post start -->
         <div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="w-64 h-40 border">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.wlskhDP7cYEOjDLRKCW6MQHaE8%3Fpid%3DApi&f=1&ipt=46e8c797c8d237f801f0140b5d530b4ebd61ce45c48a638b6ebba9723546ff84&ipo=images " class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Sunset</h5>
        <p class="card-text">This is more than a photograph; it is a feeling. It’s the quiet exhale at the end of a long day, a moment of profound peace that reminds you to pause, to breathe, and to appreciate the breathtaking beauty of a day’s gentle goodbye. It is nature’s daily promise that even endings can be beautiful.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="w-64 h-40 border">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.dmZ040xzMTa_-Jq-_oSpPQHaE8%3Fpid%3DApi&f=1&ipt=29944064065ae655061583ea0571c108220e344a4a06befaa03f50a81acdc693&ipo=images" class="card-img-top" alt="..." height="325">
      <div class="card-body">
        <h5 class="card-title">New York</h5>
        <p class="card-text">New York City's bridges are not just feats of engineering; they are the very arteries of the city, pulsing with life, history, and breathtaking views.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="w-64 h-40 border">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.H2VSAEOvqv5lTFUERD9nXgHaJ4%3Fpid%3DApi&f=1&ipt=abcd8cf91edd0c4507328655ada5ff78786211b7e5dfa317141d1622b02c326d&ipo=images" class="card-img-top" alt="height=325">
      <div class="card-body">
        <h5 class="card-title">Beach</h5>
        <p class="card-text">There’s something magical about the beach. The salty breeze, soft sand under your feet, and the rhythmic sound of waves create the perfect escape from the chaos of everyday life. Whether you visit to relax, explore, or just enjoy the view, the beach has a way of refreshing both body and mind.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="w-64 h-40 border">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.DniMq4emsUEgeOzKTNzV5gHaEK%3Fpid%3DApi&f=1&ipt=3a004b1323de48380e165518b56f7159adfa0316d63108996db17d8f86946e77&ipo=images" class="card-img-top" alt=".. "height"=>
      <div class="card-body">
        <h5 class="card-title">Mountain</h5>
        <p class="card-text">Mountains have always been a place of wonder, strength, and serenity. Standing tall against the sky, they remind us how small we are, yet how limitless our dreams can be. A mountain isn’t just a destination—it’s a journey of self-discovery.</p>
      </div>
    </div>
  </div>
</div>
        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>