@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --primary-color : #7F56D9;
    --text-color: #101828;
    --gray-color: #667085;
}

body{
    font-family: "Inter", sans-serif;
}

.container{
    width: 80vw;
    margin: 0px auto;
}

.main-header{
    margin: 6rem 0;
}
.header-headline{
    text-align: center;
}

.header-headline p{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.header-headline h3{
    font-size: 3rem;
    font-weight: 600;
    line-height: 60px;
    color: var(--text-color-);
    letter-spacing: 0.5px;
}
.header-supporting-text{
    margin: 1rem 0px;
}
.header-supporting-text p{
    text-align: center;
    color: var(--gray-color);
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 0.3px;
    font-weight: 400;
}

.subscribe-details{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0px;
}

.subscribe-details input{
    border: 2px solid rgb(240, 238, 238);
    outline: none;
    width: 300px;
    height: 48px;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    color: var(--gray-color);
    caret-color: var(--gray-color);
}

.subscribe-btn{
    height: 48px;
    padding: 12px 1.5rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 0.7rem;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
}
.paragraph-details{
   display: flex;
    justify-content: center;
    /* gap: 1rem; */
    align-items: center;
    margin: 1rem 2px;
    color: var(--gray-color);
}

.post{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
}

.top-recent-post{
    /* background-color: black; */
}

.image-container{
    height: 282px;
}
.image-container img{
    width: 100%;
    height: 100%;
}

.other-recent-post{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.first-recent-post{
    /* background-color: yellow; */
    height: 150px;
    display: flex;
}
.second-recent-post{
    /* background-color: aqua; */
    height: 150px;
}
.text{
    color: var(--primary-color);
    margin-top: 20px;
   
}
.paragraph-text{
    margin-top: 20px;
}
.content_text{
    margin-top: 20px;
    color: var(--gray-color);

}
.btn-container .btn1{
    color: #7F56D9;
    margin-top: 12px;
    border-radius: 0.3rem;
    border: none;
}
.btn-container .btn2{
    color: blue;
    border-radius: 0.3rem;
    border: none;
}
.btn-container .btn3{
    color: red;
    border-radius: 0.3rem;
    border: none;
}
.image-post img{
    height: 150px;
    width: 150px;
}

.first-recent-post{
    display: flex;
    gap: 1rem;
}

.second-image-container{
    height: 200px;
    width: 320px;
}
.second-image-container img{
   width: 320px;
   height: 200px;


}
.first-recent-post__content{
    color: var(--primary-color);
    font-size: 12px;
}
.second-recent-post-content h2 {
  margin: 10px 2px;
  font-size: 20px;
  font-weight: bold;
  color: #101828;
}
.second-recent-post__content h2 {
  margin: 10px 2px;
  font-size: 20px;
  font-weight: bold;
  color: #101828;
}
.second_post_context{
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-color);
    line-height: 24px;
}
.btn-box .bt1{
    color: #026AA2;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
    
    
}
.btn-box .bt2{
    color: #C11574;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
}
.btn-box2 .bt3{
    color: #027A48;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;

}
.btn-box2 .bt4{
    color: #C11574;
     font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;

}
.third-image-container img{
 width: 320px;
 height: 200px;
 margin-top: 60px;
 
}
.image-post{
    width: 384px;
    height: 240px;
}

.image-post img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.post-txt{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #6941C6;
   
   
}
.para-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #101828;
   
   
}
.post-content{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #667085;
   
}
.btn-box3 .bt5{
    border-radius: 0.2rem;
    color: #363F72;
    font-weight: 500;
    font-size: 14px;
    border: none;
}
.btn-box3 .bt6{
   border-radius: 0.2rem;
   color: #6941C6;
   font-weight: 500;
   font-size: 14px;
   border: none;
}
.description h4{
    margin-top: 40px;
    color: #6941C6;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 30px;
} 
.description h2{
    color: #101828;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: 10px;
}
.description p3{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #667085;
    margin-top: 20px;
}
.btn-post .b3{
    border-radius: 0.3rem;
    /* color: #6941C6; */
    font-size: 14px;
    border: none;
}
.btn-post .b4{
    border-radius: 0.3rem;
    /* color: #363F72; */
    font-size: 14px;
    color: #6941C6;
    /* margin-top: 20px; */
    border: none;
   
   
    
}
.btn-post{
 display: flex;
 gap: 1.5rem;
 
 
}

.posts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}